services:
  app:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    container_name: EasyColoc_app
    working_dir: /var/www
    volumes:
      - ./src:/var/www
    depends_on:
      - db

  web:
    image: nginx:alpine
    container_name: EasyColoc_nginx
    ports:
      - "8085:80"
    volumes:
      - ./src:/var/www
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app

  db:
    image: mysql:8.0
    container_name: EasyColoc_db
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: EasyColoc
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: EasyColoc
      MYSQL_PASSWORD: secret
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: EasyColoc_pma
    ports:
      - "8084:80"
    environment:
      PMA_HOST: db
      PMA_USER: EasyColoc
      PMA_PASSWORD: secret
    depends_on:
      - db

volumes:
  db_data:
